<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Admin Dashboard</title>
     <style>
          .container {
               display: flex;
               height: 100vh;
               max-width: 1300px;
               margin: 0 auto;
               justify-content: center;
               align-items: center;
               gap: 8px;

          }

          body {
               overflow-y: hidden;
          }

          .btn {
               background-color: rgb(95, 135, 160);
               padding: 14px;
               border-radius: 5px;
               color: white;
               font-size: 1.3rem;
               font-weight: bolder;
          }
     </style>
</head>

<body>
     <%- include("components/header", { username:user.name,photo:user.profilepic, isAdmin:user.isAdmin}) %>
          <div class="container">
               <a href="/admin/createproduct" class="btn">Create New Product</a>
               <a href="/admin/getallproduct" class="btn">Get All products</a>
          </div>
</body>

</html>